{% load staticfiles %}


<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>Bem Vindo</title>

  <script src="{%  static 'app/js/jquery.js' %}"></script>
  <script src="{%  static 'app/semantic/semantic.min.js' %}" ></script>
  <link rel="stylesheet" type="text/css" href="{%  static 'app/semantic/semantic.min.css' %}" />

  <!-- <link rel="stylesheet" href="{%  static 'app/index.css' %}" /> -->

  <script src="{% static 'app/js/angular.min.js' %}"></script>
  <script src="{% static 'app/js/ngStorage.js' %} "></script>


  {% include 'css.html' %}

</head>
<body ng-app="myApp" ng-controller="appCtrl">

   <div class="ui inverted red menu stackable">

     <div class="ui container font_menu"  >

     <a class="header item" href="{% url 'secretariaapp:index' %}" >
       <!--<i class="handshake big icon"></i>-->
       <img src="{%  static 'imagens/ibes.png' %}" class="ui image circular ajustar_imagem_em_cima">
       IBES
     </a>

     {%if usuario.id%}

         {% include 'menu.html' %}

     {% else %}
         <a href="{% url 'secretariaapp:login' %}" class="item">Login</a>
     {% endif %}

    </div>



  </div>

<div class="corpo_app">


<div class="ui negative message">
  <div class="header">
    <h1>Erro no Servidor!</h1>
  </div>
    <p></p>
    <p>Contate o Administrador do sistema para informar falhas.</p>
  </div>

</div>
{% include 'rodape.html' %}
