{% include 'cabecalho.html' %}
<div class="corpo_app">

<h2>Grupos Pequenos (PG)</h2>

<table class="ui celled table" >
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descricao</th>
      <th colspan="4"> Opções</th>
    </tr>
  </thead>

<a href="{% url 'secretariaapp:grupo_pequenoNew'%}" class="ui button positive" > Novo Grupo Pequeno </a>
<a href="{% url 'secretariaapp:lider_grupo_pequenoNew'%}" class="ui button yellow" > Novo Lider de Grupo Pequeno </a>
<a href="{% url 'secretariaapp:membro_grupo_pequenoNew'%}" class="ui button olive" > Novo Membro em Grupo Pequeno </a>
  <tbody>
    {% for grupo_pequeno in grupos_pequenos  %}
      <tr>
        <td>{{  grupo_pequeno.nome }}</td>
        <td>{{  grupo_pequeno.descricao }}</td>


        <td> <a href="{% url 'secretariaapp:grupo_pequenoUpdate' grupo_pequeno.pk  %}" class="ui red button" > Editar </a> </td>
        <td> <a href="{% url 'secretariaapp:grupo_pequenoDelete' grupo_pequeno.pk  %}" class="ui button"  > Deletar </a> </td>
        <td> <a href="{% url 'secretariaapp:grupo_pequenoDetalhes' grupo_pequeno.pk  %}" class="ui blue button" > Ver </a> </td>




      </tr>
    {% endfor %}
  </tbody>
</table>

</div>
{% include 'rodape.html' %}
