{% include 'cabecalho.html' %}
<div class="corpo_app">
        <h2>Dados do Ministério</h2>

        <div class="field">
          <label>Nome do Ministério: </label>
          {{ministerio.nome}}
        </div>

        <div class="field">
          <label>Descrição: </label>
          {{ministerio.descricao}}
        </div>

        <div class="field">
          <label>Áreas de Atuação: </label>
          {{ministerio.areas_atuacao}}
        </div>

        <div class="field">
          <label>Observações: </label>
          {{ministerio.obs}}
        </div>

        <div class="field">
          <h4>Total de Obreiros: {{total_obreiros}}</h4>
        </div>


        <h3>Lideres do Ministério: </h3>
        <table  class="ui celled table" >
          <thead>
            <tr>
              <th>Nome</th>
              <th>Observações</th>
              <th colspan="2"> Opções</th>
            </tr>
          </thead>
          <tbody>
              {% for lider_Ministerio in lider_Ministerios  %}
              <tr>
                <td>{{  lider_Ministerio.nome_lider }}</td>
                <td>{{  lider_Ministerio.obs }}</td>
                <td><a href="{% url 'secretariaapp:lider_ministerioUpdate' lider_Ministerio.pk  %}" class="ui red button" > Editar </a></td>
                <td><a href="{% url 'secretariaapp:lider_ministerioDelete' lider_Ministerio.pk  %}" class="ui button"  > Remover </a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <a href="{% url 'secretariaapp:lider_do_ministerio' ministerio.pk %}" class="ui button yellow" > Novo Lider do Ministério </a>
        <p></p>



        <h3>Obreiros do Ministério: </h3>
        <table  class="ui celled table" >
          <thead>
            <tr>
              <th>Nome</th>
              <th>Observações</th>
              <th colspan="2"> Opções</th>
            </tr>
          </thead>
          <tbody>
              {% for obreiro_Ministerio in obreiro_Ministerios  %}
              <tr>
                <td>{{  obreiro_Ministerio.obreiro }}</td>
                <td>{{  obreiro_Ministerio.obs }}</td>
                <td><a href="{% url 'secretariaapp:obreiro_ministerioUpdate' obreiro_Ministerio.pk  %}" class="ui red button" > Editar </a></td>
                <td><a href="{% url 'secretariaapp:obreiro_ministerioDelete' obreiro_Ministerio.pk  %}" class="ui button"  > Remover </a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <a href="{% url 'secretariaapp:obreiro_Ministerio_Especifico' ministerio.pk %}" class="ui button olive" > Novo Obreiro No Ministério </a>




        <div class="">
          <h1></h1>
          <a href="{% url 'secretariaapp:ministerioUpdate' ministerio.pk  %}" class="ui red button" > Editar </a>
          <a href="{% url 'secretariaapp:ministerioDelete' ministerio.pk  %}" class="ui button"  > Deletar </a>
        </div>



</div>
{% include 'rodape.html' %}
