{% include 'cabecalho.html' %}
<div class="corpo_app">

<h2>Novo Lider do Grupo Pequeno </h2>



<form class="ui form" action="" method="post">{% csrf_token %}

  {% if erro %}
  <div class="ui negative message">
    <ul class="list">
      <b>
        {{ erro }}
      </b>
    </ul>
  </div>
  {% endif %}


<div class="field">
  <label>Grupo Pequeno (PG)</label>
  {{grupo_pequeno.nome}}
</div>
<p></p>


<div class="field">
    <label><label for="id_membro">Lider:</label></label>
      <select name="membro" id="id_membro" required>
        <option value="" selected>Selecione o Lider do Grupo Pequeno</option>
        {% for membro in membros  %}
          <option value="{{membro.pk}}">{{membro.nome_completo}}</option>
        {% endfor %}

      </select>
</div>
<p></p>


<p>
  <label for="id_obs">Observacoes:</label>
  <input type="text" name="obs" id="id_obs" maxlength="100" />
</p>

    <input type="submit" value="Salvar" class="ui button positive" />
    <a href="javascript:window.history.go(-1)" class="ui button" >Cancelar</a>
</form>

</div>
{% include 'rodape.html' %}
