{% include 'cabecalho.html' %}
<div class="corpo_app">

<h2>Novo Lider de  Ministério:  </h2>



<form class="ui form" action="" method="post">{% csrf_token %}

  {% if erro %}
  <div class="ui negative message">
    <ul class="list">
      <b>
        {{ erro }}
      </b>
    </ul>
  </div>
  {% endif %}


<div class="field">
    <label for="id_ministerio">Líder:</label>
    {{membro.nome_completo}}
</div>
<p></p>


<div class="field">
    <label for="id_ministerio">Ministério:</label>
      <select name="ministerio" id="id_ministerio" required>
        <option value="" selected>Selecione o Ministério a Liderar</option>
        {% for ministerio in ministerios  %}
          <option value="{{ministerio.pk}}">{{ministerio.nome}}</option>
        {% endfor %}

      </select>
</div>
<p></p>


<p>
  <label for="id_obs">Observações:</label>
  <input type="text" name="obs" id="id_obs" maxlength="100" />
</p>

    <input type="submit" value="Salvar" class="ui button positive" />
    <a href="javascript:window.history.go(-1)" class="ui button" >Cancelar</a>
</form>

</div>
{% include 'rodape.html' %}
