{% include 'cabecalho.html' %}
<div class="corpo_app">

<h2>Usuarios</h2>
<!--
user = models.OneToOneField(User, on_delete=models.CASCADE)
gerenciar_Liberacao_Alunos = models.BooleanField(default = True)
gerenciar_Alunos
gerenciar_Turmas
gerenciar_Autorizacao_Turmas
gerenciar_Autorizacao_Alunos
gerenciar_Estatistica
gerenciar_Usuarios
gerenciar_Permissoes_Usuarios


-->

<a href="{% url 'secretariaapp:userNew'%}" class="ui button positive" > Novo Usuario </a>
<table class="ui celled table" >
  <thead>
    <tr>
      <th>Nome do Usuario</th>
      <th>Nome Copmleto</th>
      <th>Email </th>
      <th>Gerenciar Membros</th>
      <th>Gerenciar Grupos Pequenos</th>
      <th>Gerenciar Ministérios</th>
      <th>Relatórios </th>
      <th>Gerenciar Usuarios </th>
      <th colspan="2"> Opções</th>

    </tr>
  </thead>

  <tbody>
    {% for perfil in perfil  %}
      <tr>
        <td>{{perfil.user}}</td>

        {% if perfil.nome_completo is not None %}
            <td>{{perfil.nome_completo}}</td>
        {% else  %}
            <td></td>
        {% endif  %}


        {% if perfil.email is not None %}
            <td>{{perfil.email}}</td>
        {% else  %}
            <td></td>
        {% endif  %}


        {% if perfil.gerenciar_Membros  %}
            <td class="positive">Sim</td>
        {% else  %}
            <td class="negative">Não</td>
        {% endif  %}

        {% if perfil.gerenciar_Grupos_Pequenos  %}
            <td class="positive">Sim</td>
        {% else  %}
            <td class="negative">Não</td>
        {% endif  %}

        {% if perfil.gerenciar_Ministerios  %}
            <td class="positive">Sim</td>
        {% else  %}
            <td class="negative">Não</td>
        {% endif  %}

        {% if perfil.gerenciar_Relatorios  %}
            <td class="positive">Sim</td>
        {% else  %}
            <td class="negative">Não</td>
        {% endif  %}

        {% if perfil.gerenciar_Usuarios  %}
            <td class="positive">Sim</td>
        {% else  %}
            <td class="negative">Não</td>
        {% endif  %}

        <td> <a href="{% url 'secretariaapp:perfilUpdate' perfil.pk  %}" class="ui red button" > Editar Permissões </a>
        </br> </br>
        <a href="{% url 'secretariaapp:perfilDetalhes' perfil.pk  %}" class="ui blue button" > Ver Permissões </a></td>

        <td>
         <a href="{% url 'secretariaapp:userUpdate' perfil.user.pk  %}" class="ui red button" > Alterar Usuario </a></br> </br>
        <a href="{% url 'secretariaapp:userDelete' perfil.user.pk  %}" class="ui button"  > Deletar </a> </td>


      </tr>
    {% endfor %}
  </tbody>
</table>

</div>
{% include 'rodape.html' %}
