{% load staticfiles %}


<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>Bem Vindo</title>

  <!--
  <link rel="stylesheet" type="text/css" href="{%  static 'app/semantic/semantic.min.css' %}" />
  <script src="{%  static 'app/js/jquery.js' %}"></script>
  <script src="{%  static 'app/semantic/semantic.min.js' %}" ></script>
  -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>

  <!-- <link rel="stylesheet" href="{%  static 'app/index.css' %}" /> -->

  <!--<script src="{% static 'app/js/angular.min.js' %}"></script> -->
  <script src="{% static 'app/js/ngStorage.js' %} "></script>

  <script src="{% static 'app/funcoes.js' %}"></script>

  {% include 'css.html' %}


</head>
<body ng-app="myApp" ng-controller="appCtrl">

   <div class="ui inverted red menu masthead">

     <div class="ui container secondary inverted pointing font_menu"  >

     <a class="header item" href="{% url 'secretariaapp:index' %}" >
       <!--<i class="handshake big icon"></i>-->
       <img src="{%  static 'imagens/ibes.png' %}" class="ui image circular ajustar_imagem_em_cima">
       IBES
     </a>

      {%if usuario.id%}

          {% include 'menu.html' %}

      {% else %}
          <a class="toc item"> <i class="sidebar icon"></i> </a>
          <a href="{% url 'secretariaapp:login' %}" class="item">Login</a>
      {% endif %}

    </div>



    <div class="ui vertical inverted sidebar menu left" style="">
      {%if usuario.id%}
          <a class="item" href="{% url 'secretariaapp:membros' %}">Membros</a>
          <a class="item" href="{% url 'secretariaapp:ministerios' %}">Ministérios</a>
          <a class="item" href="{% url 'secretariaapp:grupo_pequeno' %}">Grupos Pequenos</a>
          <a class="item" href="{% url 'secretariaapp:perfil' %}">Usuários</a>
          <a href="{% url 'secretariaapp:relatorios' "relatorios" %}" class="item">Relatórios</a>
          <a class="item" href="{% url 'secretariaapp:aniversariantes' %}" >Aniversariantes</a>
          <a class="item" href="{% url 'secretariaapp:meu_perfilDetalhes' %}">Meu Usuário</a>
          <a href="{% url 'secretariaapp:logout' %}" class="item">Sair</a>
      {% else %}
          <a href="{% url 'secretariaapp:login' %}" class="item">Login</a>
      {% endif %}
    </div>




  </div>

<div class="corpo_app">


<h1>Suporte</h1>

      <p></p>
      <h3>Entre em contatar o Desenvolvedor pelo email jesayassilva@gmail.com.</h3>

      <a class="ui google button red" href="https://mail.google.com/mail/u/1/#search/jesayassilva%40gmail.com">
        <i class="google icon"></i>
        Google
      </a>

      <a class="ui facebook button" href="https://www.facebook.com/jesayas.silva">
        <i class="facebook icon"></i>
        Facebook
      </a>

      <a class="ui button blue" href="#">
        <i class="instagram icon"></i>
        Instagram
      </a>


      <h1></h1>
      <h1></h1>

    <a href="javascript:window.history.go(-1)" class="ui negative button" >Voltar</a>

</div>
{% include 'rodape.html' %}
