
{% include 'cabecalho.html' %}
<div class="corpo_app">

<h2>Turmas</h2>

<table  class="ui celled table" >
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th colspan="4"> Opções</th>
    </tr>
  </thead>


<a href="{% url 'egressapp:turmaNew'%}"  class="ui button positive" > Nova Turma </a>
  <tbody>
    {% for turma in turmas  %}
      <tr>
        <td>{{  turma.nome }}</td>
        <td>{{  turma.descricao }}</td>
        <td> <a href="{% url 'egressapp:turmaUpdate' turma.pk  %}"  class="ui red button" > Editar </a> </td>
        <td> <a href="{% url 'egressapp:turmaDelete' turma.pk  %}" class="ui button" > Deletar </a> </td>
        <td> <a href="{% url 'egressapp:turmaDetalhes' turma.pk  %}" class="ui blue button" > Visualizar </a> </td>
        <td> <a href="{% url 'egressapp:autorizacaoTurmaEspecificaNew' turma.pk %}" class="ui button positive" > Autorizar Saída </a> </td>

      </tr>
    {% endfor %}
  </tbody>
</table>

</div>
{% include 'rodape.html' %}
